.user {
    background-color: #ccc;
    height: 200px;
    padding: 10px;
    margin: 8px;
    list-style-type: none;
}

.user-photo {
    float: left;
    height: 200px;
    width: auto;
    margin-right: 20px;
}

.user-name {
    font-size: 2em;
    font-weight: bold;
}

.user-location {
    font-size: 1em;
}

.user-email {
    font-style: italic;
}